extends layout

block content
  div(class='container')
    div(class='top')
      nav(class='series')
        a(href='/') All
        a(href='/Zelda') Zelda
        a(href='/Mario Odyssey') Mario Odyssey
        a(href='/Splatoo') Splatoo
    ul(class='card-list')
      each e in list
        li
          div(class='clip-wrap',onmouseenter='showBtn(event)',onmouseleave='hideBtn(event)')
            div(class='btn-group hidden')
              button(onclick='markWithGot(\'' + e.name + '\')') Mark with Got
              button(onclick='openMakeModal(' + JSON.stringify(e) + ')') Make
            div(class='has-got-flag has-mask')
              div(class='overlay')
              img(src=e.imgSrc)
          
          span= e.name