extends layout

block content
  div(class='container')
    nav(class='series')
      a(href='/') All
      a(href='/Zelda') Zelda
      a(href='/Mario Odyssey') Mario Odyssey
      a(href='/Splatoo') Splatoo
    ul(class='card-list')
      each e in list
        li(onclick='openMakeModal()')
          //img(class='card',src=e.imgSrc)
          img(class='card')
          span= e.name
    div(class='modal hidden',id='make-modal')
      div(class='modal-frame')
        div(class='title-bar') Title
        div(class='content')
          dl(class='card-info')
            dt Name
            dd #Name
            dt Series
            dd #Series
            dt Pic
            dd
              img(src='')
            dt Making progress
            dd
              div(class='ui indicating progress',id='progress-bar')
                div(class='bar')
                  div(class='progress')
          iframe(id='ifr-making',src='')
        div(class='foot-bar')
          button(onclick='make()') Make
          button(onclick='closeMakeModal()') Close