doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/pace.min.css')
    script(src='/javascripts/pace.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/reset.css')
  body
    block content
    script(src='/javascripts/zepto.min.js')
    script(src='/javascripts/custom.js')
