doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/pace.min.css')
    script(src='/javascripts/pace.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/semantic-ui/progress.min.css')
  body
    block content
    script(src='/javascripts/jquery-3.3.1.min.js')
    script(src='/javascripts/semantic-ui/progress.min.js')
    script(src='/javascripts/backbone-min.js')
    script(src='/javascripts/underscore-min.js')
    script(src='/javascripts/custom.js')
