doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/pace.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/reset.css')
    script(src='/javascript/pace.min.js')
  body
    block content
