body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.container {
  ul.card-list {
    display: flex;
    flex-wrap: wrap;
  }

  ul.card-list li span {
    display: block;
  }

  img.card {
    width: 150px;
  }
}
