body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00b7ff; }

.rounded-corner, .clip-wrap, .has-mask .overlay {
  border-radius: 10px; }

.clip-wrap {
  overflow: hidden; }

.blur, .has-mask:hover, .container ul.card-list li .btn-group:hover + .has-mask {
  -webkit-filter: blur(10px);
          filter: blur(10px);
  color: #fff; }

.has-mask {
  position: relative; }
  .has-mask .overlay {
    width: 100%;
    height: 100%;
    position: absolute; }
    .has-mask .overlay:hover {
      background: rgba(0, 0, 0, 0.3); }
  .has-mask:hover {
    transition: all 0.3s; }

.photo, .container ul.card-list li img, .info .card-photo {
  width: 150px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 2px 2px #eee; }

.has-got-flag {
  position: relative; }
  .has-got-flag::before {
    content: "Got";
    position: absolute;
    right: 0;
    top: 0;
    background: #54ff116b;
    color: #fff;
    padding: 2px 8px;
    border-radius: 0 10px 0 10px; }

.hidden {
  padding: 0 !important;
  margin: 0 !important;
  top: 0 !important;
  left: 0 !important;
  width: 0 !important;
  height: 0 !important;
  overflow: hidden !important;
  opacity: 0 !important; }

.container div.top {
  background: #00b7ff; }
  .container div.top nav.series {
    padding: 0 10%;
    height: 50px;
    min-width: 840px;
    max-width: 1443px;
    margin: 0 auto 20px; }
    .container div.top nav.series a {
      line-height: 50px;
      padding: 0 20px;
      float: left;
      cursor: pointer;
      color: #fff; }
      .container div.top nav.series a:link {
        text-decoration: none; }
      .container div.top nav.series a:hover {
        background: #77caeb; }

.container ul.card-list {
  padding: 0 10%;
  display: flex;
  flex-wrap: wrap;
  min-width: 840px;
  max-width: 1443px;
  margin: 0 auto; }
  .container ul.card-list li {
    margin-left: 10px;
    margin-bottom: 20px;
    position: relative; }
    .container ul.card-list li img {
      width: 150px; }
    .container ul.card-list li .btn-group {
      position: absolute;
      top: 20px;
      left: 0;
      z-index: 1;
      display: flex;
      flex-direction: column;
      width: 100%; }
      .container ul.card-list li .btn-group button {
        border: none;
        background: transparent;
        color: #fff;
        margin-bottom: 10px;
        outline: none; }
        .container ul.card-list li .btn-group button:hover {
          text-shadow: 0 0 2px #fff; }
      .container ul.card-list li .btn-group:hover + .has-mask {
        transition: all 0.3s; }
        .container ul.card-list li .btn-group:hover + .has-mask .overlay {
          background: rgba(0, 0, 0, 0.3); }
    .container ul.card-list li span {
      width: 150px;
      line-height: 50px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: center;
      display: block; }

.info {
  display: flex;
  align-items: flex-start;
  padding: 20px 20px 0; }
  .info .card-info {
    flex-grow: 1; }
    .info .card-info dd {
      padding: 10px; }

#ifr-making {
  padding: 0 20px; }

.modal {
  width: 100%;
  padding-top: 100px;
  top: 0;
  bottom: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
  transition: opacity 0.3s;
  z-index: 2; }
  .modal .modal-frame {
    margin: 0 auto;
    width: 60%;
    border-radius: 10px;
    background: #fff; }
    .modal .modal-frame .title-bar {
      border-radius: 10px 10px 0 0;
      height: 50px;
      line-height: 50px;
      padding-left: 20px;
      background: #999;
      color: #fff; }
    .modal .modal-frame .content {
      width: 100%; }
      .modal .modal-frame .content > * {
        width: 100%; }
    .modal .modal-frame .foot-bar {
      text-align: right;
      padding: 0 10px 10px 0; }
      .modal .modal-frame .foot-bar button {
        padding: 5px 10px;
        line-height: 28px;
        margin-left: 10px;
        border: 1px solid #eee;
        border-radius: 4px;
        outline: none;
        box-shadow: 1px 1px #eee;
        transition: color 0.3s; }
        .modal .modal-frame .foot-bar button:hover {
          background: #666;
          color: #fff;
          transition: background-color 0.3s, color 0.3s; }

/*# sourceMappingURL=style.css.map */
